.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.completeStatus {
    margin: 0.55rem;
    font-weight: bold;
    color: #0f8027;
    font-size: 1.25rem;
    flex: 1
}

.activeStatus {
    margin: 0.55rem;
    font-weight: bold;
    color: #62006e;
    font-size: 1.25rem;
    flex: 1
}

.description {
    font-style: italic;
    margin: 0.5rem;
    flex: 1
}