 .paginationFilter {
    margin-right: 1rem;
    font-weight: bold;
    text-align: right;
}

.paginationLinks {
    /* font-weight: bold; */
    font: black;
    text-align: center;
}

.active {
    font: red;
    font-weight: bold;
}